version: '3.9'

volumes:
  static:
  db-data:

services:
  db:
    image: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}" ]
      interval: 5s
      timeout: 3s
      retries: 6
  backend:
    build:
      context: .
    ports:
      - 8080:8080
#    volumes:
#      - static:/static/
    environment:
      PGDB: "${POSTGRES_DB}"
      PGUSER: "${POSTGRES_USER}"
      PGPASSWORD: "${POSTGRES_PASSWORD}"
    command: bash -c "
      python manage.py migrate --settings=OtusHW7.settings
      && gunicorn library.wsgi -b 0.0.0.0:8080
      "
    depends_on:
      db:
        condition: service_healthy