{% extends 'blog/base.html' %}

{% block title %}Список постов{% endblock %}

{% block content %}
        <h1>Список постов</h1>
        <ul class="list-group">
            {% for post in posts %}
            <li class="list-group-item">
                <a href="{% url 'detail_for_post' post.pk %}"><h5>{{ post.title }}</h5></a>
                <p>{{ post.content }}></p>
                <small>Пользователь {{ post.user.name }}</small>
                <a href="{% url 'delete_post' post.id %}" class="btn btn-sm btn-danger">Удалить</a>
            </li>
            {% empty %}
                 <li class="list-group-item">Нет постов</li>
            {% endfor %}

        </ul>
{% endblock %}